/*Variable*/

$black: #000;
$dark: #15141a;
$graphitBlack: #1a1a1a;
$darkGrey: #1b1b1b;
$grey: #444348;
$dullGrey: #999;
$lightGrey: #e0e0e0;
$smokyWhite : #ededed;
$ghostlyWhite: #f2f2f2;
$lightWhite: #fafafa;
$milkyWhite: #fffefe;
$white: #fff;
$asphalt: rgba(22,22,27,0.2);
$lightAsphalt: rgba(255,255,255,0.2);
$blue: #008ed6;